body {
  margin: 1rem;
}

#root {
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: row;
}

#root #controls {
  display: flex;
  flex-direction: column;
  width: 24em;
  padding: 0.5em;
}

#root #content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
