body {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#root {
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: row;
}

#root #controls {
  display: flex;
  flex-direction: column;
  width: 24rem;
  padding-right: 1rem;
}

#root #controls h1 {
  margin-top: 0;
}

#root #content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 1.5rem);
}
